<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
		<% if msg == "Password digest can't be blank" %>
			<%	msg = "Password can't be blank" %>
			<%  end %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

